{% extends 'comment/base.html' %}

{% block title %}
    首页
{% endblock %}

{% block page_content %}
    <div class="jumbotron">
        <h1 style="font-family: 华文行楷">欢迎访问！</h1>
        <p>
            <img src="static/img/base.png" class="img-responsive" alt="Responsive image">
        </p>
        <table class="table table-hover">
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
{% endblock %}